/* Estilos Personalizados */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 100px;
}
.navbar-default {
    background-color: transparent;
}
.navbar-default .navbar-brand {
    color: #000;
}
figure {
    margin: -15px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: transparent;
    border-top: solid 1px #e7e7e7;
    text-align: center;
    z-index: 999;
}
#section-1{
    
}
.section-2{
    background-color: rgba(0,0,0,.1);
    margin: 0 -15px;
    padding: 15px;
}
#section-3{
    
}